{% extends 'base.html' %}

{% block content %}
    <h1>{{ _l('Cadastre-se') }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <label for="">Nome completo:</label> <br>
        <input type="text" id="nome" name="nome"> <br>

        <label for="">Username:</label>
        <input type="text" id="username" name="username">

        <label for="">E-mail:</label> <br>
        <input type="email" id="email" name="email"> <br>

        <label for="">Telefone:</label> <br>
        <input type="tel" id="telefone" name="telefone"> <br>

        <label for="">Senha:</label> <br>
        <input type="password"> <br>

        <label for="">Repita sua senha:</label> <br>
        <input type="password"> <br>

        <input type="submit" placeholder="Enviar">

    </form>
{% endblock %}