{% extends 'base.html' %}

{% block content %}
    <h1>{{ _l('Entrar')}}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <label for="">Nome </label>
        <input name="" type="text" placeholder="Digite o seu nome completo">
        <input name="" type="text" placeholder="Digite sua senha">

        <label for="">Lembre de mim</label>
        <input name="" type="checkbox">

        <input name="" type="submit" placeholder="Enviar">

    </form>
{% endblock %}