<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Flyways</title>
    {% else %}
    <title>Bem-vindo ao projeto Flyways!</title>
    {% endif %}
</head>
<body>
    {% if 'index.html'%}
        <header>
            <div>
                <a href=""><img src="" alt=""></a>
                <nav>
                    <ul>
                        <li>Login</li>
                        <li>Cadastro</li>
                    </ul>
                </nav>
                <div>

                </div>
            </div>
        </header>
    {% else %}
        <header>
        <div>
            <a href=""><img src="" alt=""></a>
            <nav>
                <ul>
                    <li>Home</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
            <div>   

            </div>
        </div>
    </header>
</body>
</html>